/* styles.css */
body {
    font-family: MontserratLight;
    background-color: #292a2b;
    color: white;
    
}
.titles {
    background-color: red;
    width: 70px;
    height: 300px;
    text-align: right;
}

.inputs {
    margin-left: 10px;
    background-color: red;
    width: 70px;
    height: 300px;
    text-align: right;
}

.bg {
    display: flex;
}

input {
    border-radius: 5px;
}

@font-face {
    font-family: "MontserratExtraLight"; 
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "MontserratLight"; 
    src: url("../fonts/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
/* Add styles here to customize the appearance of your app */

