@font-face {
    font-family: "MontserratExtraLight"; 
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "MontserratLight"; 
    src: url("../fonts/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

body {
    background-color: #FF9A8B;
    background-image: linear-gradient(175deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    font-family: MontserratLight;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.child {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 500px;
    height: 500px;
}

.urlbtn {
    font-family: MontserratLight;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 90%;
    margin: 5%;
    margin-top: -10px;
    height: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: all .2s ease-in;
}

.urlbtn:hover {
    background-color: white;
    color: black;
}

.cardButton {
    margin-left: 5%;
    font-family: MontserratLight;
    font-size: 16px;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    transition: all .2s ease-in 
}
.cardButton:hover {
    color: black;
    background-color: white;
    font-size: 18px;
}


